# Description: An Earth.  This is the ubiquitous "Greenland" environment.  A
# green valley surrounded by optional mountains, with crossing roads pointed
# in the cardinal directions and an optional logo at the intersection.  A sun
# is also included.
BeginBaseApp
# this is the basic environment you work in
 name string Earth
 build_dir string modules/Earth
 dllloc string lib/$SYSNAME
 dllname string libearth.so
 connect string VesselTransformationNode
 universe string standard
 nparams int 3
 airport_fn string 
 sun int 1
 logo int 1
 flat int 0
 fill int 1
 runway int 1
 display int 1
 earhtxmax float 1000.0
 earhtxmin float -1000.0
 earhtzmax float 1000.0
 earhtzmin float -1000.0
End
