# Description: This provides access to position tracking using flock-of-birds
BeginBaseApp
 name string TrackerClient
 build_dir string modules/FlockTrackerClient2/
 dllloc string lib/$SYSNAME
 dllname string libFlockTrackerClient.so
 connect string CenterOfTheUniverse
 universe string standard
 nparams int 13
 port string /dev/ttyd2
 transducers int 2
 baud_rate int 38400	
 hemisphere string lower
 measurement_rate float 112.9
 prediction int 0
 alpha float 0.93
 x float 0.0
 y float 0.0
 z float 0.0
 roll float 0.0
 pitch float 0.0
 yaw float 0.0
End
