# Description: A service that provides basic sphere to sphere beaming and
# sphere to sphere collision (all between bounding volumes, of course).  This
# is the same functionallity that used to be in the Flatland C core.
BeginBaseApp
 name string BasicIntersection
 build_dir string services/BasicIntersection/
 dllloc string lib/$SYSNAME
 dllname string libBasicIntersection.so
 connect string Earth
 universe string standard
 nparams int 0
End
