# Description: A simple example app consisting of a spinning cube that makes a
# THX noise.  The architypical Flatland app.
BeginBaseApp
 name string Simple
 build_dir string modules/Simple
 dllloc string lib/$SYSNAME
 dllname string libSimple.so
 connect string Earth
 universe string standard
 nparams int 6
 data_file string modules/Simple/colors.dat
 cube_sound int 0;
 cube_size float 5.0
 cube_pitch float 0.0
 cube_yaw float 0.0
 cube_roll float 0.0
End
