# Description: This provides access to position tracking using flock-of-birds
BeginBaseApp
 name string TrackerClient
 build_dir string modules/ExtendedRangeFlockTrackerClient/
 dllloc string lib/$SYSNAME
 dllname string libExtendedRangeFlockTrackerClient.so
 connect string CenterOfTheUniverse
 universe string standard
 nparams int 12
 port string /dev/ttyS0
 baud_rate int 38400
 streaming int 1
 beep_on_error int 0
 hemisphere string lower
 measurement_rate float 112.9
 x float 0.0
 y float 0.0
 z float 0.0
 roll float 0.0
 pitch float 0.0
 yaw float 0.0
End
