# Description: Tracks the mouse position in the 3D space
BeginBaseApp
 name string MouseTrackerClient
 build_dir string modules/MouseTrackerClient/
 dllloc string lib/$SYSNAME
 dllname string libMouseTrackerClient.so
# position is figured from your point of view..
# so, point of connection is the eye...
 connect string CenterEyeStalk
 universe string standard
 nparams int 7
 x float 0.0
 y float 0.0
 z float 0.0
 roll float 0.0
 pitch float 0.0
 yaw float 0.0
 radius float 2.0
End
