# Description: constructs random stars on a sphere at a fixed radius from the
# center. The number, distance, and max intensity are configurable.
BeginBaseApp
 name string Stars
 build_dir string modules/Stars/
 dllloc string lib/Linux
 dllname string libstars.so
 connect string Earth
 universe string standard
 nparams int 3
 nbr_of_stars int 4000
 radius float 6000.0
 max_intensity float 0.3
End
