# Description: This provides access to position tracking
BeginBaseApp
 name string TrackerClient
 build_dir string modules/FlockTrackerClient/
 dllloc string lib/$SYSNAME
 dllname string libFlockTrackerClient.so
 connect string Craft
 universe string standard
 nparams int 10
 port string /dev/ttyd2
 transducers int 4
 hemisphere string lower
 measurement_rate float 112.9
 x float 0.08
 y float -0.13
 z float 0.0
 roll float -2.0
 pitch float 0.0
 yaw float 0.0

End
