# Description: Uses a tracker client to provide transformations between this
# object's parent and child.
BeginBaseApp
 name string TestTransformationNode
 build_dir string modules/TransformationNode/
 dllloc string lib/$SYSNAME
 dllname string libTransformationNode.so
 connect string TrackerClient
 universe string standard
 nparams int 7
#default x, y, and z positions
 x float 0.0
 y float 0.1
 z float -0.1
# scale factors to apply to incomming tracker data (and defaults)
 scale_x float 1.0
 scale_y float 1.0
 scale_z float 1.0
 scale_roll float 1.0
 scale_pitch float 1.0
 scale_yaw float 1.0
 tracker_client string TrackerClient
 transducer int 3
 move_child int 1
 use_tracking int 1
End
